
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Blog Post</title>
</head>
<body>
    <h1>Create Blog Post</h1>

    <form id="createPostForm" action="/api/posts" method="POST" enctype="multipart/form-data">
        <label for="title">Title:</label><br>
        <input type="text" id="title" name="title"><br>

        <label for="desc">Content:</label><br>
        <textarea id="desc" name="desc"></textarea><br>



        <button type="submit">Submit</button>
    </form>
</body>
</html>
